!*.*
/bin
/run
/out

*.classpath
*.project
.gradle/
.settings/
build/
eclipse/


*.iml
*.iws
*.ipr
*.idea/
*.ini
ICBM-classic.txt
CompiledWith.txt
output
changelog.html
.okhttpcache/
.DS_Store

raw_audio/

logs/

run_tests/

banned-ips.json

banned-players.json

ops.json

whitelist.json

output_tests/
